@model Student
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>LINQOperations</title>
</head>
<body>
    <div class="container-fluid py-4">
            <h4 class="text-center text-uppercase">Student List</h4>
            <table class="table table-striped table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model)
        {*@
                    <tr>
                        <td>@Model.Id</td>
                        <td>@Model.Name</td>
                        <td>@Model.age</td>
                       

                    </tr>

                    @*}*@
                </tbody>
            </table>
        </div>
    </body>
</html>
